@import "../../variables.css";

.bf-User {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;

  & > div {
    padding: 0.5rem;
    flex: 1;
  }

  &-name {
    font-weight: bold;
  }

  &-profession {
    color: red;
    text-align: right;
  }

  &--selected {
    background-color: yellow;
  }
}
